<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nico.case_14.mapper.MeterDataFactorBaseMappingMapper">

    <resultMap id="BaseResultMap" type="com.nico.case_14.domain.MeterDataFactorBaseMapping">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="meterDataFactorBaseId" column="meter_data_factor_base_id" jdbcType="BIGINT"/>
            <result property="interfaceType" column="interface_type" jdbcType="VARCHAR"/>
            <result property="interfaceCode" column="interface_code" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,meter_data_factor_base_id,interface_type,
        interface_code,remark,create_user,
        create_date,update_user,update_date,
        status,del_flag
    </sql>

    <insert id="addBatch" parameterType="com.nico.case_14.domain.MeterDataFactorBaseMapping">
        insert into t_meter_data_factor_base_mapping
        (meter_data_factor_base_id,interface_type,interface_code,create_user,create_date)
        values
        <foreach collection="list" item="a" separator=",">
            (#{a.meterDataFactorBaseId},
             #{a.interfaceType},
             #{a.interfaceCode},
             #{a.createUser},
             #{a.createDate}
            )
        </foreach>
    </insert>
</mapper>
